body {
  background-color:black;
}

h1 {
  color: white;
}

p{
font-size:70px;
color:red;}

a{
color :yellow;
}
.mytable
{
background-color:white;
width:450px;
height:450px;

}
.myalign
{
  text-align: right;
}
.myalign2
{
  text-align: left;
}
th{
  font-size: 20px;
  color: red;
}
tr{
  color: black;
}
label{
  text-align: center;
}